body {
    background-color: white;
    color: gray;
}

button {
    background-color: transparent;
    border-style: none;
    font-size: 22px;
    color: gray;
}


#mainContainer {
    height: 100vh;
}

#leftPanel {
    float: left;
    text-align: center;
    width: 50%;
    height: 100vh;
}

#rightPanel {
    float: right;
    text-align: center;
    width: 50%;
    height: 100vh;
}
