body {
    max-width: 1000px;
}


#bio-image {
    height: 50vh;
    background-image: url(../img/coverphoto.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center right;
}


.about {
    /*font-family: "Gotham Light";*/
    font-size: 20px;
    margin: auto;


}


.right-section {
    width: 60%;
}

.left-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
    margin: 20px;


}


