#jerry-img {
    height: 500px;
    width: 100%;
    background-image: url(../img/FromYourJerry.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

#worse-img {
    height: 500px;
    width: 100%;
    background-image: url(../img/DoneWorse.jpg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    margin: auto;
}

.row {
    padding-bottom: 100px;
}
.right-section {
    width: 60%;
    vertical-align: middle;
    margin: auto;
}

.left-section {
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
    margin: 20px;


}

.about {
    /*font-family: "Gotham Light";*/
    font-size: 20px;
    margin: auto;
}

footer {
    position: relative;
    float: right;
    margin-top: 80px;
}

@media only screen and (max-width: 600px) {
    .row {
        display: block;
    }
    .right-section {
        width: 100%;
        margin: auto;
    }
    .left-section {
        width: 100%;
        margin: auto;
    }
    #jerry-img {
        width: 100%;
    }
}