* {
    font-family: 'Sulphur Point', sans-serif;
}

body {
    background-color: white;
    padding: 0;
    color: #000;
    max-width: 1000px;
    margin: auto;
    height: 100vh;
}

nav {
    display: block;
    position: relative;
    vertical-align: middle;
    height: 80px;

}
#navigation {
    overflow: hidden;
}
.nav-menu {
    display: inline-block;
    width: 100%;
}
.nav-menu ul {
    list-style-type: none;
    margin: 0 auto;
}
.nav-menu li {
    display: inline-block;
    float: right;
    padding: 25px 20px 25px 20px;
}

.nav-menu a {
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    color: #101010;
}

.logo {
    padding-left: 20px;
    display: inline-block;
    float: left;
    margin: 0;
}


.row {
    display: flex;
}

.column-left {
    flex: 60%;
    height: 80vh;
}

.column-right {
    flex: 40%;
    height: 80vh;
}
/*h3 {*/
    /*font-family: "Gotham Bold";*/
    /*font-size: 26px;*/
/*}*/

/*h4 {*/
    /*font-family: "Gotham Bold";*/
    /*font-size: 22px;*/
/*}*/

/*h5 {*/
    /*font-family: "Gotham Bold";*/
    /*font-size: 22px;*/
/*}*/

a {
    font-size: 20px;
    color: #79AB78;
    line-height: 5px;
    -webkit-transition: ease .5s;
    transition: ease .5s;
    list-style-type: none;
}
a:hover {
    color: #B5B5B5;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}
.header-link {
    font-size: 26px;
}

#hero-image {
    width: 60vw;
    height: 90vh;
    background-image: url(../img/Hero.JPG);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
}

#title {
    margin: 0;
    padding: 0;
    color: #fff;
    font-size: 80px;
}

.overlay {
    position: absolute;
    bottom: 0px;
    text-align: center;
    padding: 25px;
}

.fa {
    display: block;
    color: #fff;
    padding: 25px 10px 25px 10px;
    font-size: 2em !important;
}

#book-img {
    width: auto;
    height: 40vh;
    background-image: url(../img/FromYourJerry.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#about {
    font-size: 20px;
    padding: 30px;
    position: relative;
    text-align: center;
    vertical-align: middle;

}

.lists {
    position: relative;

}

.list {
    padding: 10px;
}

ul {
    padding-left: 0;
}

li {
    padding: 5px;
    font-size: larger;
    font-size: 20px;
    line-height: 150%;
    list-style-type: none;
    padding-left: 0;
}

.bold {
    font-weight: 700;
    font-size: 30px;
}

@media screen and (min-width: 800px) {
.column1 {

    width:100%;
}
    #about {
        margin: 0;

}
}
