@font-face {
    font-family: "Gotham Light";
    src: url('../assets/Gotham-Light.ttf');
}

@font-face {
    font-family: "Gotham Bold";
    src: url('../assets/Gotham-Bold.ttf');
}

@font-face {
    font-family: "Gotham Book";
    src: url('../assets/Gotham-Book.ttf');
}

* {
    font-family: "Gotham Light";
}


body {
    background-color: white;
    padding: 0;
    margin: 0;
    color: #000;
}

h3 {
    font-family: "Gotham Bold";
    font-size: 26px;
}

h4 {
    font-family: "Gotham Bold";
    font-size: 22px;
}

h5 {
    font-family: "Gotham Bold";
    font-size: 22px;
}

a {
    font-size: 18px;
    color: #1A1A1A;
    padding: 5px;
    line-height: 5px;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}
a:hover {
    color: #B5B5B5;
    -webkit-transition: ease .5s;
    transition: ease .5s;
}


#hero-image {
    height: 140vh;
    width: 100vw;
    background-image: url(../img/FromYourJerry.jpeg);
    background-attachment: scroll;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

#title {
    margin: 0;
    padding: 0;
    color: #fff;
    height: auto;
    font-size: 80px;
}

.overlay {
    position: absolute;
    top: 45vh;
    text-align: center;
    padding: 25px;
}

.fa {
    display: block;
    color: #fff;
    padding: 25px 10px 25px 10px;
    font-size: 2em !important;
}


#about {
    font-family: "Gotham Light";
    font-size: 20px;
    padding: 50px;
    position: relative;


}

.lists {
    position: relative;

}

.list {
    padding: 10px;
}

li {
    padding: 5px;
    font-size: larger;
    font-size: 16px;
    line-height: 150%;
}


@media screen and (min-width: 800px) {
.column1 {

    width:100%;
}
    #about {
        margin: 0;

}
}
